/*
 * Night theme
 *
 * Based on the BreezeDark colorscheme
 */
:root
{
    --primary-color: #3DAEE9;
    --text-color: #cfcfc2;
    --background-color: #232629;

    --feed-icon-url: url("/res/icons/feed-icon/feed-icon-14x14.png");
    --github-icon-url: url("/res/icons/GitHub-Mark/GitHub-Mark-Light-32px.png");
    --twitter-icon-url: url("/res/icons/twitter-icon/Twitter_Social_Icon_Circle_White.png");
}
