/*
 * Main Style Sheet
 */

/*
 * Theme buttons
 */
.theme-settings
{
    float: right;
}

.theme-button
{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: var(--text-color);
    background: var(--background-color);
}

.theme-button:hover
{
    box-shadow: 2px 2px 2px gray;
}

/*
 * Source code
 */
pre.sourceCode
{
	border-left: 3px solid var(--primary-color);
	padding-left: 1em;
}

/*
 * Primary styles
 */
html
{
    position: relative;
    min-height: 100%;
}

body
{
    font-family: Georgia, serif;
    font-size: 16pt;
    line-height: 1.7;

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    overflow: none;

    background: var(--background-color);
    color: var(--text-color);
}

header
{
    margin-top: 6em;
    margin-bottom: 6em;
    text-align: center;
}

#content
{
    padding-bottom: 6em;
}

footer
{
    position: absolute;

    bottom: 0;
    height: 6em;

    width: 100%;
    max-width: 40em;
    text-align: center;
}

footer ul li
{
    display: inline;
}

p
{
    margin-top: 1.7em;
}

a
{
    color: var(--primary-color);
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

/*
 * Icons
 */
.feed-icon
{
    padding: 10px 32px;
    background: var(--feed-icon-url) no-repeat 0 50%;
}

.github-icon
{
    padding: 10px 32px;
    background: var(--github-icon-url) no-repeat 0 50%;
    background-size: 28px;
}

.twitter-icon
{
    padding: 10px 32px;
    background: var(--twitter-icon-url) no-repeat 0 50%;
    background-size: 28px;
}
