@media only screen
{
    body
    {
        /*max-width: 1050px;*/
        max-width: 33em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        overflow: none;

        background: #222;
        color: #fff;
        font: 1.2em "Liberation Sans", sans-serif;
    }

    p
    {
        line-height: 1.5;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    a
    {
        color: #0f7;
    }

    #links + ul
    {
        list-style-type: none;
    }

    .feed-icon
    {
        margin-left: 3px;
        padding: 0 0 0 19px;
        background: url("./res/icons/feed-icon/feed-icon-14x14.png") no-repeat 0 50%;
    }

    .github-icon
    {
        margin-left: 3px;
        padding: 0 0 0 19px;
        background: url("./res/icons/GitHub-Mark/GitHub-Mark-Light-32px.png") no-repeat 0 50%;
        background-size: 14px;
    }

    .twitter-icon
    {
        margin-left: 3px;
        padding: 0 0 0 19px;
        background: url("./res/icons/twitter-icon/Twitter_Social_Icon_Circle_White.png") no-repeat 0 50%;
        background-size: 14px;
    }
}
